
/** Products **/


.products-page  .products .avatar-big-box{
    margin-top: 65px;
    width: 90%;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.products-page  .products   .avatar-big-box .title{
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Roboto Serif;
    font-weight: 600;
    word-wrap: break-word;
    color: #343434;
}

.products-page .products .avatar-big-box .avatar-input{
    display: flex;
    flex-direction: row;
}


.products-page .products .dishes-filter-section{
    width: 90%;
    display: flex;
}


.products-page .products .dishes-filter-box{
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.products-page .products .dishes-filter-section .order{

    width: 70px;
    height: 36px;
    margin: 0 10px;
}

.products-page .products .list-category-section{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.products-page .products .list-category-box{
    width: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 67px;
    
}

.products-page .products .list-category-box .order{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    min-width: 36px;
    padding: 11px 0;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    font-family: Roboto;
}

.products-page .products .product-wrapper{
    margin-left: 25px;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

.products-page  .products   .product-wrapper .product-card {
    width: 260px;
    height: 358px;  
    text-align: left;
    font-size: 20px;
    color: #343434;
    font-family: Poppins;
}


.products-page .products .product-wrapper .product-card .product-img{
    width: 100%;
    height: 275px;
    background-size: cover;
    background-position: center;
    border-radius: 0px 50px 0px 0px;

}

.products-page .products .product-wrapper .product-card .product-img:hover{
    opacity: 0.7;
}

.products-page .products .product-wrapper .product-card .product-img:hover .shop-btn{
    opacity: 1;
}

.products-page .products .product-wrapper .product-card .product-img:hover .view-btn{
    opacity: 1;
}

.products-page .products .product-card .product-sale{
    margin-top: 8px;
    margin-left: 8px;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background: #FF9200;
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #FFF;
}

.products-page .products .product-card .shop-btn{
    display: flex;
    margin-top: 200px;
    margin-left: 90px;
    width: 10px;
    border: 1px solid #E3C08D;
    background: #BB2FCB;
    opacity: 0;

}

.products-page .products .product-card .view-btn{
    width: 40px;
    height: 40px;
    bottom: 14%;
    left: 60%;
    color: #FFF;
    fill: rgba(0, 0, 0, 0.40);
    opacity: 0;
}

.products-page .products .product-card .product-desc{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-page .products .product-card .product-desc .product-title{
    width: 100%;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #343434;
}

.products-page .products .product-card .product-desc .product-price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #E3C08D;
}


.products-page .products .product-wrapper .no-data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
}

.products-page .products .pagination-section{
    margin: 20px;
}

.products-page .products .brands-logo{
    padding: 50px 0;
}

.products-page .products .brands-logo .logo-title{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #E3C08D;
}

.products-page .products .brands-logo .logo-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    
}

.products-page .products .brands-logo .logo-img{
    width: 258px;
    height: 350px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 22px 0px;
}





.products-page .products .address-area{
    margin-top: 50px;
    margin-bottom: 50px;
}

.products-page .products .address-area .title{
    text-align: center;
    font-family: "Roboto Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #343434;
}

.products-page .products .brands-logo{
    width: 100%;
    height: 630px;
    background: #0D1518;
}

/** ChosenProduct **/

.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }
  